$color_1: #fe4a01;
$color_2: #eeeeee;
$font-family_1: Verdana, Geneva, Tahoma, sans-serif;

* {
    box-sizing: border-box;
    padding: 6px;
    margin: 0;
}
.header {
    text-align: center;
    background-color: $color_2;
}
.about {
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.contact {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.first_achive {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-weight: bold;
}
.second_achive {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-weight: bold;
}
.text_exp {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}
.text_exp_sec {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

.photo_of_person {
    width: 150px;
    height: 150px;
}

.not_bold {
    font-weight: normal;
}
.color_name {
    color: $color_1;
    font-family: $font-family_1;
    font-weight: bolder;
}
.fa-heart {
    color: $color_1;
}