<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" /> <!--ISO-8859-1-->
  <meta name="Oleksandryna Ovchinnikova" content="I, me, myself" />
  <meta name="viewport" content="width=device-width"/>
  <!--    <link rel="stylesheet" type="text/css" href="scss/style.scss" />-->
  <link rel="stylesheet" href="../css/style.min.css">
  <script src="../js/main.min.js" defer></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
  <title>CV</title>
</head>
<body>
<header class="header">
  <div class="name">
    <h1><b>Hello.</b><span class='not_bold'>I'm</span> <span class="color_name">John Harrie</span></h1>
  </div>
  <h3 class="job"><span class="not_bold"> And I am A Graphic Designer</span></h3>
</header>